
.linkbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkbar > a {
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}




.pagination-container {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    display: inline-block;
    padding: 0;
    list-style: none;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #333;
}

.pagination .current {
    font-weight: bold;
}


select {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}
