<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Military Database</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="linkbar">
<a href="/" target="_self"><h2 align="center">Военные</h2></a>
<a href="/barraks" target="_self"><h2 align="center">Казармы</h2></a>
</div>

</form>
    <h1 align="center">Состав военной части</h1>
        <form method="get" action="" style="margin: auto; text-align: center;">
            <label for="per_page">Отображать записей на странице:</label>
            <select name="per_page" id="per_page" onchange="this.form.submit()">
                {% for option in per_page_options %}
                    <option value="{{ option }}" {% if per_page == option %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </form>
        <table width="80%" align="center">
            <tr>
                <th align="center">ФИО служащего</th>
                <th align="center">Номер казармы</th>
                <th align="center">Номер табельного оружия</th>
                <th align="center">Дата начала службы</th>
                <th align="center">Дата окончания службы</th>
                <th align="center">Должность</th>
                <th align="center">Название оружия</th>
                <th align="center">Модель оружия</th>
                <th align="center">Табельный номер оружия</th>
            </tr>
            {% for military in military %}
                <tr>
                    <td align="center">
                        <ul>
                            <li>{{ military.name }}, {{ military.surname }}, {{ military.patronymic }}</li>
                        </ul>
                    </td>
                    <td align="center"> {{ military.barracks_number.number }} </td>
                    <td align="center"> {{ military.received_weapon.number }} </td>
                    <td align="center"> {{ military.service_start_date }} </td>
                    <td align="center"> {{ military.service_end_date }} </td>
                    {% if military.barracks_number.purpose == 1%}
                    <td align="center"> {{"Рядовой"}}</td>
                    {%else%}
                    <td align="center"> {{"Офицер"}}</td>
                    {% endif %}
                    <td align="center"> {{ military.received_weapon.name }} </td>
                    <td align="center"> {{ military.received_weapon.brand }} </td>
                    <td align="center"> {{ military.received_weapon.number }} </td>


                </tr>
            {% endfor %}
        </table>

    <div class="pagination-container">
        <ul class="pagination step-links">
            {% if military.has_previous %}
                <li><a href="?page=1&per_page={{ per_page }}">««</a></li>
                <li><a href="?page={{ military.previous_page_number }}&per_page={{ per_page }}">«</a></li>
            {% endif %}

            <li class="current">
                Страница {{ military.number }} из {{ military.paginator.num_pages }}.
            </li>

            {% if military.has_next %}
                <li><a href="?page={{ military.next_page_number }}&per_page={{ per_page }}">»</a></li>
                <li><a href="?page={{ military.paginator.num_pages }}&per_page={{ per_page }}">»»</a></li>
        </ul>
        {%endif%}
</div>

</body>
</html>
