<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Military Database</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1 align="center">Состав военной части</h1>
    <form method="get" action="" style="margin: auto; text-align: center;">
        <label for="per_page">Отображать записей на странице:</label>
        <select name="per_page" id="per_page" onchange="this.form.submit()">
            {% for option in per_page_options %}
                <option value="{{ option }}" {% if per_page == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </form>
    <table width="80%" align="center">
        <tr>
            <th align="center">ФИО служащего</th>
            <th align="center">Номер казармы</th>
            <th align="center">Номер табельного оружия</th>
        </tr>
        {% for military in military %}
            <tr>
                <td align="center">
                    <ul>
                        <li>{{ military.name }}, {{ military.surname }}, {{ military.patronymic }}</li>
                    </ul>
                </td>
                <td align="center"> {{ military.barracks_number.number }} </td>
                <td align="center"> {{ military.received_weapon.number }} </td>
            </tr>
        {% endfor %}
    </table>

<div class="pagination-container">
    <ul class="pagination step-links">
        {% if military.has_previous %}
            <li><a href="?page=1&per_page={{ per_page }}">««</a></li>
            <li><a href="?page={{ military.previous_page_number }}&per_page={{ per_page }}">«</a></li>
        {% endif %}

        <li class="current">
            Страница {{ military.number }} из {{ military.paginator.num_pages }}.
        </li>

        {% if military.has_next %}
            <li><a href="?page={{ military.next_page_number }}&per_page={{ per_page }}">»</a></li>
            <li><a href="?page={{ military.paginator.num_pages }}&per_page={{ per_page }}">»»</a></li>
        {% endif %}
    </ul>
</div>

</body>
</html>
